
node_modules/

Logs/

config.json

release/

old/

crashLog.txt

steam_old/

steam/

vegaExample/globalConfig/*.dll
vegaExample/globalConfig/**

vegaExample/customAssemblies/*.dll
vegaExample/customAssemblies/**

vegaExample/plugins/*.dll
vegaExample/plugins/**

vegaExample/dependencies/*.dll
vegaExample/dependencies/**

/servers
